<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yj.tel.mapper.CompMapper">

    <select id="selectComp" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 배상목록 조회 :: selectComp */
        SELECT A.comp_info_id
            , A.voc_id
            , A.penality_id
            , A.comp_id
            , A.comp_content
            , A.comp_doen_yn
            , A.dispute_raised_yn
            , A.first_regist_dt
            , A.last_updt_dt
            , B.*
        FROM tp_Compensation A
            LEFT OUTER JOIN (
            SELECT aa.penality_id
                , aa.voc_id
                , aa.cust_co_id
                , aa.driver_id
                , dd.driver_nm
                , dd.driver_mbtlnum
                , aa.trsp_id
                , cc.trsp_nm
                , cc.trsp_mbtlnum
                , aa.comp_id
                , aa.penality_nm
                , aa.penality_amt  /* 패널티 금액 = 배상 금액 */
                , aa.driver_chk_yn
                , aa.first_regist_dt
                , bb.comp_nm
                , bb.comp_dtl
                , bb.comp_se
                , bb.comp_amt
                , bb.comp_atc
                , bb.comp_rat
                , bb.rm
                , ee.voc_content
                , ee.atc_amt
                , ee.rl_dlvy_de
                , ee.dlvy_prearnge_de
                , ee.comp_reqst_yn
                , ee.resp_pty
                , ee.first_regist_dt  as voc_regist_dt
            FROM tp_Penality aa
                LEFT OUTER JOIN tp_CompensationCode bb
                    ON aa.comp_id = bb.comp_id
                LEFT OUTER JOIN tp_VOC ee
                    ON aa.voc_id = ee.voc_id
                   AND aa.cust_co_id = ee.cust_co_id
                   AND aa.driver_id = ee.driver_id
                   AND aa.trsp_id = ee.trsp_id
                LEFT OUTER JOIN tp_Transporter cc
                    ON aa.trsp_id = cc.trsp_id
                LEFT OUTER JOIN tp_Driver dd
                    ON aa.driver_id = dd.driver_id
                    AND cc.trsp_id = dd.trsp_id
            ) B
        ON A.penality_id = B.penality_id
        AND A.voc_id = B.voc_id
        AND A.comp_id = B.comp_id
        <where>
            <if test="voc_id != null and voc_id != ''">
                AND A.voc_id = #{voc_id}
            </if>
            <if test="comp_id != null and comp_id != ''">
                AND A.comp_id = #{comp_id}
            </if>
            <if test="penality_id != null and penality_id != ''">
                AND A.penality_id = #{penality_id}
            </if>
        </where>
    </select>

    <insert id="insertComp" parameterType="java.util.Map">
        /* 배상정보 등록 :: insertComp */
        INSERT INTO tp_Compensation
            (
              voc_id
            , penality_id
            , comp_id
            , comp_content
            , comp_doen_yn
            , dispute_raised_yn
            , first_regist_dt
            , last_updt_dt
            )
        VALUES
            (
             #{voc_id}
            , #{penality_id}
            , #{comp_id}
            , #{comp_content}
            , #{comp_doen_yn}
            , #{dispute_raised_yn}
            , NOW()
            , NOW()
            )
    </insert>

    <update id="updateComp" parameterType="java.util.Map">
        /* 배상정보 수정 :: updateComp */
        UPDATE tp_Compensation
        <set>
            <if test="voc_id != null and voc_id != ''">
                voc_id = #{voc_id}
            </if>
            <if test="penality_id != null and penality_id != ''">
                penality_id = #{penality_id}
            </if>
            <if test="comp_id != null and comp_id != ''">
                comp_id = #{comp_id}
            </if>
            <if test="comp_content != null and comp_content != ''">
                comp_content = #{comp_content}
            </if>
            <if test="comp_doen_yn != null and comp_doen_yn != ''">
                comp_doen_yn = #{comp_doen_yn}
            </if>
            <if test="dispute_raised_yn != null and comp_doen_yn != ''">
                comp_doen_yn = #{comp_doen_yn}
            </if>
            last_updt_dt = NOW()
        </set>
        WHERE comp_info_id = #{comp_info_id}
    </update>

    <delete id="deleteComp" parameterType="java.util.Map">
        /* 배상정보 삭제 :: deleteComp */
        DELETE FROM tp_Compensation
        WHERE comp_info_id = #{comp_info_id}
    </delete>

    <select id="selectCompCode" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 배상정보코드 조회 :: selectCompCode */
        SELECT comp_id
             , comp_nm
             , comp_dtl
             , comp_se
             , comp_amt
             , comp_rat
             , rm
             , first_regist_dt
             , last_updt_dt
        FROM tp_CompensationCode
        <where>
            <if test="comp_id != null and comp_id != ''">
                AND comp_id = #{comp_id}
            </if>
            <if test="code_nm != null and code_nm != ''">
                AND code_nm = #{code_nm}
            </if>
            <if test="comp_se != null and comp_se != ''">
                AND comp_se = #{comp_se}
            </if>
        </where>
    </select>

    <insert id="insertCompCode" parameterType="java.util.Map">
        /* 배상정보코드 등록 :: insertCompCode */
        INSERT INTO tp_CompensationCode
            (
              comp_nm
            , comp_dtl
            , comp_se
            , comp_amt
            , comp_rat
            , rm
            , first_regist_dt
            , last_updt_dt
            )
        VALUES
            (
              #{comp_nm}
            , #{comp_dtl}
            , #{comp_se}
            , #{comp_amt}
            , #{comp_rat}
            , #{rm}
            , NOW()
            , NOW()
            )
    </insert>


    <update id="updateCompCode" parameterType="java.util.Map">
        /* 배상정보코드 수정 :: updateCompCode */
        UPDATE tp_CompensationCode
        <set>
            <if test="comp_nm != null and comp_nm != ''">
                comp_nm = #{comp_nm},
            </if>
            <if test="comp_dtl != null and comp_dtl != ''">
                comp_dtl = #{comp_dtl},
            </if>
            <if test="comp_se != null and comp_se != ''">
                comp_se = #{comp_se},
            </if>
            <if test="comp_amt != null and comp_amt != ''">
                comp_amt = #{comp_amt},
            </if>
            <if test="comp_rat != null and comp_rat != ''">
                comp_rat = #{comp_rat},
            </if>
            <if test="rm != null and rm != ''">
                rm = #{rm},
            </if>
            last_updt_dt = NOW()
        </set>
        WHERE comp_id = #{comp_id}
    </update>

    <delete id="deleteCompCode" parameterType="java.util.Map">
        /* 배상정보코드 삭제 :: deleteCompCode */
        DELETE FROM tp_CompensationCode
        WHERE comp_id = #{comp_id}
    </delete>

    <select id="selectCompCodeUseAt" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 배상정보코드 사용여부 :: selectCompCodeUseAt */
        SELECT comp_id
        FROM tp_Penality
        WHERE comp_id = #{comp_id}
    </select>

</mapper>