<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yj.tel.mapper.DriverMapper">

    <select id="selectDriver" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 배송기사 조회 :: selectDriver */
        SELECT driver_id
             , trsp_id
             , driver_nm
             , driver_mbtlnum   /* 배송기사 연락처 */
             , use_yn        /* 사용 여부 */
             , first_regist_dt
             , last_updt_dt
        FROM tp_Driver
        <where>
            <if test="trsp_id != null and trsp_id != ''">
                AND trsp_id = #{trsp_id}
            </if>
            <if test="driver_id != null and driver_id != ''">
                AND driver_id = #{driver_id}
            </if>
            <if test="driver_nm != null and driver_nm != ''">
                AND driver_nm = #{driver_nm}
            </if>
            <if test="driver_mbtlnum != null and driver_mbtlnum != ''">
                AND driver_mbtlnum LIKE CONCAT('%', #{driver_mbtlnum})
            </if>
        </where>
    </select>

    <insert id="insertDriver" parameterType="java.util.Map">
        /* 배송기사 등록 :: insertDriver */
        INSERT INTO tp_Driver
            (
             trsp_id
             , driver_nm
            , driver_mbtlnum   /* 배송기사연락처 */
            , first_regist_dt
            , last_updt_dt
             )
        VALUES
            (
             #{trsp_id}
            , #{driver_nm}
            , #{driver_mbtlnum}
            , NOW()
            , NOW()
             )
    </insert>

    <update id="updateDriver" parameterType="java.util.Map">
        /* 배송기사 수정 :: updateDriver */
        UPDATE tp_Driver
        <set>
            <if test="trsp_id != null and trsp_id != ''">
                trsp_id = #{trsp_id},
            </if>
            <if test="driver_nm != null and driver_nm != ''">
                driver_nm = #{driver_nm},
            </if>
            <if test="driver_mbtlnum != null and driver_mbtlnum != ''">
                driver_mbtlnum = #{driver_mbtlnum},
            </if>
            <if test="use_yn != null and use_yn != ''">
                use_yn = #{use_yn},
            </if>
            last_updt_dt = NOW()
        </set>
        WHERE driver_id = #{driver_id}
    </update>

    <select id="selectDriverPenality" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 선택기간 배송기사패널티 조회 :: selectDriverPenality */
        SELECT A.driver_id
        , A.trsp_id
        , B.trsp_nm
        , A.driver_nm
        , A.driver_mbtlnum   /* 배송기사 연락처 */
        , SUM(C.penality_amt) as tot_penalty_amt  /* 선택 기간동안 총 배상(=패널티)금액 */
        FROM tp_Driver A
        LEFT OUTER JOIN tp_Transporter B
                    ON A.trsp_id = B.trsp_id
        LEFT OUTER JOIN (
                        SELECT aa.penality_id
                            , aa.voc_id
                            , aa.driver_id
                            , aa.cust_co_id
                            , bb.cust_co_nm
                            , aa.comp_id
                            , aa.penality_nm
                            , aa.penality_amt
                        FROM tp_Penality aa
                        LEFT OUTER JOIN tp_Customer bb
                                    ON aa.cust_co_id = bb.cust_co_id
                        LEFT OUTER JOIN tp_Compensation cc
                                    ON aa.penality_id = cc.penality_id
                                    AND aa.voc_id = cc.voc_id
                        <where>
                            aa.driver_chk_yn = 'Y'
                            <if test="startDt != null and startDt != '' and endDt != null and endDt != ''">
                               AND cc.first_regist_dt  BETWEEN #{startDt} AND #{endDt}
                            </if>
                        </where>
                    )C
                    ON C.driver_id = A.driver_id
        <where>
            <if test="driver_id != null and driver_id != ''">
                AND A.driver_id = #{driver_id}
            </if>
        </where>
        GROUP BY A.driver_id
    </select>
</mapper>