<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yj.tel.mapper.DriverMapper">

    <select id="selectDriver" resultType="java.util.HashMap" parameterType="java.util.Map">
        /* 배송기사 조회 :: selectDriver */
        SELECT driver_id
             , trsp_id
             , driver_nm
             , driver_mbtlnum   /* 배송기사 연락처 */
             , use_yn        /* 사용 여부 */
             , first_regist_dt
             , last_updt_dt
        FROM tp_Driver
        <where>
            <if test="trsp_id != null and trsp_id != ''">
                AND trsp_id = #{trsp_id}
            </if>
            <if test="driver_id != null and driver_id != ''">
                AND driver_id = #{driver_id}
            </if>
            <if test="driver_nm != null and driver_nm != ''">
                AND driver_nm = #{driver_nm}
            </if>
            <if test="driver_mbtlnum != null and driver_mbtlnum != ''">
                AND driver_mbtlnum LIKE CONCAT('%', #{driver_mbtlnum})
            </if>
        </where>
    </select>

    <insert id="insertDriver" parameterType="java.util.Map">
        /* 배송기사 등록 :: insertDriver */
        INSERT INTO tp_Driver
            (
             trsp_id
             , driver_nm
            , driver_mbtlnum   /* 배송기사연락처 */
            , first_regist_dt
            , last_updt_dt
             )
        VALUES
            (
             #{trsp_id}
            , #{driver_nm}
            , #{driver_mbtlnum}
            , NOW()
            , NOW()
             )
    </insert>

    <update id="updateDriver" parameterType="java.util.Map">
        /* 배송기사 수정 :: updateDriver */
        UPDATE tp_Driver
        <set>
            <if test="trsp_id != null and trsp_id != ''">
                trsp_id = #{trsp_id},
            </if>
            <if test="driver_nm != null and driver_nm != ''">
                driver_nm = #{driver_nm},
            </if>
            <if test="driver_mbtlnum != null and driver_mbtlnum != ''">
                driver_mbtlnum = #{driver_mbtlnum},
            </if>
            <if test="use_yn != null and use_yn != ''">
                use_yn = #{use_yn},
            </if>
            last_updt_dt = NOW()
        </set>
        WHERE driver_id = #{driver_id}
    </update>
</mapper>